# Python
__pycache__/
*.pyc

# VS Code Local History / extension artifacts
.history/

# clangd / IDE
compile_commands.json

# Generated previews
# Generated preview moved to ui_preview/
ui_preview/preview_animation.html

# PlatformIO
.pio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json

# IDE specific files
*.cbp
*.depend
*.layout
.cproject
.project
.settings/
*.user
*.autosave
.vscode/

# ESP32 specific
partitions.csv
bootloader/
esp32/
sdk/

